In [1]:
import pandas as pd
import os
import json

## Read a single JSON

Define a function called read_json. Given a string representing a file path to a json file, this function should open said file and convert its contens into a json object.

In [2]:
# implement me
def read_json(file_path):
    with open(file_path) as f:
        data = json.loads(f.read())
        j_obj = json.dumps(data['results'], indent=4)
    return j_obj

Use the read_json function defined above to read the contents of one of the locations_4.json file acquired in the Data Acquisition Lab.

In [3]:
file_path = os.path.join('./', 'data', 'locations', 'locations_4.json')
json_contents = read_json(file_path)

Display the value of the json_contents variable defined above.

In [4]:
#json_contents

## Convert JSON Into a DataFrame

Using the json_contents variable, create a Pandas dataframe.

In [5]:
# Create DataFrame here.

df = pd.read_json(json_contents)

/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/3381114193.py:3: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(json_contents)

Display the contents of the DataFrame.

In [6]:
# Display contents of the DataFrame here.

df

        mindate     maxdate                     name  datacoverage          id
0    1905-05-08  2024-04-11      Phillips County, MT             1  FIPS:30071
1    1911-03-01  2024-04-11       Pondera County, MT             1  FIPS:30073
2    1893-02-01  2024-04-11  Powder River County, MT             1  FIPS:30075
3    1893-01-01  2024-04-11        Powell County, MT             1  FIPS:30077
4    1904-11-01  2024-04-11       Prairie County, MT             1  FIPS:30079
..          ...         ...                      ...           ...         ...
995  1915-04-01  2024-04-11      Gonzales County, TX             1  FIPS:48177
996  1907-01-27  2024-04-11          Gray County, TX             1  FIPS:48179
997  1897-05-01  2024-04-11       Grayson County, TX             1  FIPS:48181
998  1902-01-01  2024-04-11         Gregg County, TX             1  FIPS:48183
999  1914-06-01  2024-04-11        Grimes County, TX             1  FIPS:48185

[1000 rows x 5 columns]

How many records are in the DataFrame? How many columns does each record have?

Filter the contents of the DataFrame to only show records where the name column contains the string "Durham".

In [7]:
#
df[df.name.str.contains('Durham')]

        mindate     maxdate               name  datacoverage          id
295  1891-01-01  2024-04-11  Durham County, NC             1  FIPS:37063

## Read Multiple JSON Files

Define a function called read_all_json_files. Given a string representing a path to a directory, this function should read all of the json files and return a Pandas DataFrame containing all of the objects. In addition to the data from the files, this DataFrame should also contain an additional column called "source". The source column should be populated with the name of the file from which this record originated from.

In [8]:
file_path = os.path.join('./', 'data', 'locations')

In [9]:
# implement me
def read_all_json_files(JSON_ROOT):
    df_list = []
    for file in os.listdir(JSON_ROOT):
        if '.json' in str(file):
            new_file_path = os.path.join('./', 'data', 'locations',file)
            new_json_contents = read_json(new_file_path)
            new_df = pd.read_json(new_json_contents)
            new_df['source'] = file
            df_list.append(new_df)
            print(str(new_file_path))
    cat_df = pd.concat(df_list)
    return cat_df

Use the read_all_json_files function above to read the contents of all locations file acquired in the the Data Acquisition Lab.  
Hint: It is easier if you put all of those files in a dedicated subdirectory ex: (./data/locations/)

In [10]:
df2 = read_all_json_files('data/locations')

/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)

./data/locations/locations_10.json
./data/locations/locations_26.json
./data/locations/locations_30.json
./data/locations/locations_3.json
./data/locations/locations_2.json
./data/locations/locations_31.json
./data/locations/locations_27.json
./data/locations/locations_11.json
./data/locations/locations_20.json
./data/locations/locations_36.json
./data/locations/locations_5.json
./data/locations/locations_9.json
./data/locations/locations_16.json
./data/locations/locations_17.json
./data/locations/locations_8.json
./data/locations/locations_4.json
./data/locations/locations_37.json
./data/locations/locations_21.json
./data/locations/locations_18.json
./data/locations/locations_7.json
./data/locations/locations_34.json
./data/locations/locations_22.json
./data/locations/locations_14.json
./data/locations/locations_38.json

/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)

./data/locations/locations_15.json
./data/locations/locations_23.json
./data/locations/locations_35.json
./data/locations/locations_6.json
./data/locations/locations_19.json
./data/locations/locations_12.json
./data/locations/locations_28.json
./data/locations/locations_1.json
./data/locations/locations_32.json
./data/locations/locations_24.json
./data/locations/locations_25.json
./data/locations/locations_33.json
./data/locations/locations_0.json
./data/locations/locations_29.json
./data/locations/locations_13.json

/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)
/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/1738099983.py:8: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_df = pd.read_json(new_json_contents)

What is the shape of the DataFrame? Does this match the number of columns and records you expected?

In [11]:
# Validate the shape of the DataFrame here
df2.shape[0]
df2 = df2.reset_index(drop=True)

Show the first few records of the DataFrame.

In [12]:
# Show the first few records
df2.head()

,mindate,maxdate,name,datacoverage,id,source
0,1948-05-01,2024-04-11,"Highgate Center, VT 05459",1.00,ZIP:05459,locations_10.json
1,1995-05-08,2024-04-11,"Hinesburg, VT 05461",1.00,ZIP:05461,locations_10.json
2,1955-11-01,2024-04-11,"Huntington, VT 05462",1.00,ZIP:05462,locations_10.json
3,1997-03-06,2024-04-11,"Isle la Motte, VT 05463",0.95,ZIP:05463,locations_10.json
4,1995-05-08,2024-04-11,"Jeffersonville, VT 05464",1.00,ZIP:05464,locations_10.json

Show the last few records of the DataFrame.

In [13]:
# Show the last few records
df2.tail()

,mindate,maxdate,name,datacoverage,id,source
38857,1994-06-15,2024-04-11,"Mont Clare, PA 19453",0.95,ZIP:19453,locations_13.json
38858,1972-01-01,2024-04-11,"North Wales, PA 19454",1.00,ZIP:19454,locations_13.json
38859,1894-01-01,2024-04-11,"Phoenixville, PA 19460",1.00,ZIP:19460,locations_13.json
38860,1994-06-15,2024-04-11,"Plymouth Meeting, PA 19462",0.95,ZIP:19462,locations_13.json
38861,1894-01-01,2024-04-11,"Pottstown, PA 19464",1.00,ZIP:19464,locations_13.json

## Validate Records Are Unique

Provide two different ways to determine there are no duplicate records.  
Hint: The id field should be unique.

In [14]:
# one way to determine there are not duplicate records
df2[pd.unique('id')]

/var/folders/y_/88_bvhts341bf74krgd3hgch0000gp/T/ipykernel_79322/2657285642.py:2: FutureWarning: unique with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  df2[pd.unique('id')]

              id
0      ZIP:05459
1      ZIP:05461
2      ZIP:05462
3      ZIP:05463
4      ZIP:05464
...          ...
38857  ZIP:19453
38858  ZIP:19454
38859  ZIP:19460
38860  ZIP:19462
38861  ZIP:19464

[38862 rows x 1 columns]

In [15]:
# another way to determine there are no duplicate records
df2[df2.duplicated]

Empty DataFrame
Columns: [mindate, maxdate, name, datacoverage, id, source]
Index: []

# Peking In

Show the record with id "CITY:TU000041". Which file did it come from?

In [30]:
# 
df2[df2['id'] == 'CITY:TU000041']

,mindate,maxdate,name,datacoverage,id,source
30863,1974-08-01,2024-04-09,"Mersin, TU",1.0,CITY:TU000041,locations_1.json

Show the record with id "CLIM:0405". Which file did it come from?

In [40]:
# 
df2[df2['id'] == 'CLIM:0405']['source']

4001    locations_2.json
Name: source, dtype: object

How many unique values are there for the source column in the DataFrame?

In [46]:
# 
df2['source'].unique().shape[0]

39

How many records did the locations_38.json file contain?

In [56]:
# 
df2[df2['source'] == 'locations_38.json'].shape[0]

862

We will work with this DataFrame in a subsequent part of the lab. Instead of repeating all of this work again, let's export the DataFrame to a pickled file.

In [58]:
# export DataFrame to a pickled file called locations_data_frame.pickle. Save it to the data directory.
df2.to_pickle('../pickled jsons df2')